body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./img2.jpg');

  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: red;
    color: #333;
    border-radius: 5px;
  }
  
  .content {
    margin-top: 80px;
    padding: 20px;
  }
  